@media(min-width: 320px) {
    body {
        box-sizing: border-box;
        font-family: Montserrat, sans-serif;
        background-color: #E5E5E5;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .header-nav {
        visibility: hidden;
    }
    .header-menu__link {
        visibility: hidden;
    }
    .header-menu {
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        justify-content: end;
        grid-gap: 30px;
    }
    .header-menu__mobule {
        position: relative;
        width: 24px;
        height: 2px;
        background-color: #E51937;
    }
    .header-menu__mobule::before {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        top: -6px;
    }
    .header-menu__mobule::after {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        bottom: -6px;
    }
}
@media(min-width: 641px) {
}
@media(min-width: 1025px) {
    a {
        cursor: pointer;
        position: relative;
    }
    a::after {
        background-color: #E51937;
        display: block;
        content: " ";
        height: 2px;
        width: 0%;
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform:translateX(-50%);
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    a:hover::after {
        color: #E51937;
        width: 100%;
    }
    .header {
        grid-template-columns: 4fr 4fr 4fr;
        margin-right: 50px;
        margin-bottom: 74px;
    }
    .header-nav {
        display: grid;
        visibility: visible;
        grid-template-columns: repeat(5, auto);
        justify-content: spece-between;
    }
    .nav__link {
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #000;
        justify-self: center;
    }
    .header-menu {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: end;
        grid-gap: 30px;
    }
    .header-menu__mobule {
        position: relative;
        width: 24px;
        height: 2px;
        background-color: #E51937;
    }
    .header-menu__mobule::before {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        top: -6px;
    }
    .header-menu__mobule::after {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        bottom: -6px;
    }
    .header-menu__link {
        visibility: visible;
        text-decoration: none;
        color: #000;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    .main-content {
        background: url('../main-content/Tesla-Wordmark-Red.png');
        height:  467px;
        background-position: center;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 120px;
    }
    .main-content__logo {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 90px;
        margin: 0;
    }
    .main-content__description {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        margin: 0;
    }
    .main-content__bg {
        max-width: 968px;
        margin: auto;
    }
    .advantages {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .advantages__item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;
    }
    .advantages__item-text {
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
    }
    .advantages__item {
        font-style: normal;
        justify-self: center;
    }
    .advantages-speed__unit {
        font-size: 20px;
        line-height: 24px;
    }
    .advantages-item__description {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin: 0;
    }
    .advantages-test {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
    }
    .advantages__button {
        border: 2px solid #E51937;
        width: 160px;
        height: 40px;
        color: #E51937;
        text-align: center;
        border-radius: 3px;
    }
    .advantages::after {
        content: ' ';
        position: absolute;
        width: 28px;
        height: 28px;
        border-top: 3px solid #E51937;
        border-right: 3px solid #E51937;
        transform: rotate(135deg);
        left: 50%;
        bottom: -25%;
        cursor: pointer;
    }
}


