@media(min-width: 320px) {
    body {
        box-sizing: border-box;
        font-family: Montserrat, sans-serif;
        background-color: #fff;
    }
    .header {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .header-nav {
        visibility: hidden;
    }
    .header-menu__link {
        visibility: hidden;
    }
    .header-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header-menu__mobule {
        position: relative;
        width: 24px;
        height: 2px;
        background-color: #E51937;
    }
    .header-menu__mobule::before {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        top: -6px;
    }
    .header-menu__mobule::after {
        content: ' ';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #E51937;
        bottom: -6px;
    }
    .main-content {
        background: url('../main-content/Tesla-Wordmark-Red.png');
        max-height:  467px;
        background-size: 100%;
        background-position: center;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 30%;
    }
    .main-content__logo {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        margin: 0;
    }
    .main-content__description {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
    }
    .main-content__bg {
        max-width: 968px;
        min-width: 357px;
        padding-top: 9%; 
        padding-right: 9%;
        margin: auto;
    }
    .advantages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr;
        align-items: center;
        grid-gap: 5px;
    }
    .advantages__item {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;
        justify-content: center;
        align-self: center;
    }
    .advantages__item-text {
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
    }
    .advantages__item {
        font-style: normal;
    }
    .advantages-speed__unit {
        font-size: 20px;
        line-height: 24px;
    }
    .advantages-item__description {
        display: block;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
    }
    .advantages-speed {
        justify-self: center;
        align-items: center;
        grid-column: 2/2;
    }
    .advantages-reserve {
        justify-self: center;
        grid-column: 3/4;
    }
    .advantages-test__img {
        width: 30px;
        height: 20px;
        background: url('../advantages/steering-wheel_mobule.png') no-repeat center;
    }
    .advantages-test {
        color: #e51937;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        align-self: center;
        justify-self: center;
        grid-column: 2/2;
    }
    .advantages__button {
        cursor: pointer;
        border: 2px solid #e51937;
        width: 160px;
        height: 40px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        background: #e51937;
        align-self: center;
        justify-self: start;
        grid-column: 3/3;
    }
    .arrow {
        content: ' ';
        position: absolute;
        width: 18px;
        height: 18px;
        border-top: 3px solid #e51937;
        border-right: 3px solid #e51937;
        transform: rotate(135deg);
        left: 50%;
        cursor: pointer;
    }
}
@media(min-width: 641px) {
  .main-content {
    margin-bottom: 18%;
  }
  .main-content__logo {
        font-size: 90px;
        line-height: 110px;
  }
  .main-content__description {
        font-size: 15px;
        line-height: 18px;
  }
  .advantages__item-text {
      font-size: 50px;
      line-height: 61px;
  }
  .advantages-item__description {
      font-size: 12px;
      line-height: 15px;
  }
}
@media(min-width: 1025px) {
    a {
        cursor: pointer;
        position: relative;
    }
    a::after {
        background-color: #E51937;
        display: block;
        content: " ";
        height: 2px;
        width: 0%;
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform:translateX(-50%);
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    a:active::after {
        color: #e51937;
        width: 100%;
    }
    a:hover, a:active {
        color: #e51937;
    }
    .header {
        margin-right: 50px;
        margin-bottom: 74px;
    }
    .header-nav {
        visibility: visible;
        display: grid;
        grid-auto-columns: calc(30% - 30px);
        grid-auto-flow: column;
        grid-gap: 10px;
    }
    .nav__link {
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #000;
        justify-self: center;
    }
    .nav-first {
        color: #e51937;
    }
    .nav-first::after {
        content: " ";
        height: 2px;
        width: 100%;
        background-color: #e51937;
        bottom: -6px;
    }
    .header-menu {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: end;
        grid-gap: 30px;
    }
    .header-menu__link {
        visibility: visible;
        text-decoration: none;
        color: #000;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    .main-content {
        margin-bottom: 10%;
    }
    .main-content__bg {
        max-width: 968px;
        margin: auto;
        padding: 0;
    }
    .advantages {
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
        align-items: end;
    }
    .advantages-speed {
        grid-column: 2/2;
        justify-self: end;
    }
    .advantages-reserve {
        grid-column: 3/3;
        justify-self: end;
    }
    .advantages-test {
        grid-column: 4/4;
        justify-self: end;
        align-self: end;
    }
    .advantages__item-text {
        font-size: 35px;
        line-height: 43px;
    }
    .advantages-test__img {
        width: 30px;
        height: 20px;
        background: url('../advantages/steering-wheel.png') no-repeat center;
    }
    .advantages-test {
        font-size: 13px;
        line-height: 16px;
        color: #000;
        justify-self: end;
        align-self: center;
        grid-column: 4/5;
    }
    .advantages__button {
        grid-column: 5/7;
        justify-self: center;
        width: 160px;
        height: 40px;
        color: #E51937;
        background: #fff;
        border-radius: 3px;
    }
    .arrow {
        width: 28px;
        height: 28px;
    }
    .advantages__button:hover {
      background: #d3d3;
      box-shadow: 2px 2px white, 4px 4px;
    }
}


